<div>
	<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	<hr>
	<div uib-collapse="isCollapsed" expanding="isExpanding()" collapsing="isCollapsing()" collapsed="imCollapsed()" expanded="imExpanded()">
		<div class="well well-lg">Some content</div>
	</div>
</div>