<div class="alert">
	<a href class="close" ng-click="close({message: 'closing for now'})">&times;</a>
	<a href class="caret" ng-click="up({x: {suckit: 'fool, you don\'t know what you\'re doing'}, text: 'how about some text, sucka?'})"></a>
	<div ng-transclude></div>
</div>