<ul>
	<li><a href="#/login">Login</a></li>
	<li><a href="#/friend/1">Friends</a></li>
	<li><a href="#/gruppe/1">Gruppes</a></li>
	<li><a href="#/register">Register</a></li>	
	<li><a href="#/rides/1">Rides</a></li>
	<li><a href="#/photos">Photos</a></li>
	<li><a href="#/users">Users</a></li>
</ul>
<hr />
<ul>
	<li><a href="#/sandbox">Sandbox</a></li>
</ul>
<hr />
<ul>
	<li><a href="#/accordion">Accordion</a></li>
	<li><a href="#/alert">Alert</a></li>
	<li><a href="#/button">Button</a></li>
	<li><a href="#/carousel">Carousel</a></li>
	<li><a href="#/collapse">Collapse</a></li>
	<li><a href="#/dateparser">Date Parser</a></li>
	<li><a href="#/datepicker">Date Picker</a></li>
	<li><a href="#/dropdown">Dropdown</a></li>
	<li><a href="#/modal">Modal</a></li>
	<li><a href="#/tabs">Tabs</a></li>
	<li><a href="#/timepicker">Timepicker</a></li>
</ul>