
<h1>Friends</h1>
<uib-accordion>
	<uib-accordion-group ng-repeat="friend in friends">
		<uib-accordion-heading style="text-decoration: none;">
			{{friend.last_name}}, {{friend.first_name}} <div id="test" ng-model="test" ng-class="friendStatus(friend.status)" class="pull-right circle"></div>
		</uib-accordion-heading>
		
		<button type="button" class="pull-right btn btn-primary btn-lg" ng-click="" ng-disabled="" ng-show="isInvite(friend.status)">Un-invite</button>
		<button type="button" class="pull-right btn btn-primary btn-lg" ng-click="" ng-disabled="" ng-show="isRemove(friend.status)">Remove</button>
				
		<table class="friend">
			<tbody>
				<tr>
					<td class="prop">Name:</td>
					<td class="val">{{friend.first_name}} {{friend.last_name}}</td>
				</tr>
				<tr>
					<td class="prop">Email:</td>
					<td class="val">{{friend.email}}</td>
				</tr>
				<tr>
					<td class="prop">Skill:</td>
					<td class="val">{{friend.skill}}</td>
				</tr>
				<tr>
					<td class="prop">Style:</td>
					<td class="val">{{friend.style}}</td>
				</tr>
				<tr>
					<td class="prop">Experience:</td>
					<td class="val">{{friend.experience}}</td>
				</tr>
			</tbody>
		</table>
		
	
		<pre style="display: none;">{{ friend | json}}</pre>
	
	</uib-accordion-group>
</uib-accordion>

<h1>Members</h1>
<uib-accordion>
	<uib-accordion-group heading="{{member.last_name}}, {{member.first_name}}" ng-repeat="member in members">
	
		
		<button type="button" class="pull-right btn btn-primary btn-lg" ng-click="invite(member.id)" ng-disabled="">Invite</button>
				
		<table class="member">
			<tbody>
				<tr>
					<td class="prop">Name:</td>
					<td class="val">{{member.first_name}} {{member.last_name}}</td>
				</tr>
				<tr>
					<td class="prop">Email:</td>
					<td class="val">{{member.email}}</td>
				</tr>
				<tr>
					<td class="prop">Skill:</td>
					<td class="val">{{member.skill}}</td>
				</tr>
				<tr>
					<td class="prop">Style:</td>
					<td class="val">{{member.style}}</td>
				</tr>
				<tr>
					<td class="prop">Experience:</td>
					<td class="val">{{member.experience}}</td>
				</tr>
			</tbody>
		</table>
		
	
		<pre ng-show="false">{{ member | json}}</pre>
	
	</uib-accordion-group>
</uib-accordion>
