<div class="row">
	<div class="col-md-12">
	
		<h3>Gruppes</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Description</th>
					<th class="text-center">Type</th>
					<th class="text-center">Joinable</th>
					<th class="text-center">Locked</th>		
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gruppe in gruppes | orderBy: 'id'" ng-click="gruppeDetail(gruppe.id)" ng-class="{warning: gruppe.id === idSelected}">
					<td>{{gruppe.id}}</td>
					<td>{{gruppe.name}}</td>
					<td>{{gruppe.description}}</td>
					<td class="text-center">{{gruppe.type | available }}</td>
					<td class="text-center">{{gruppe.joinable | yn }}</td>
					<td class="text-center">{{gruppe.locked | yn }}</td>					
					<td>
						<button type="button" class="close" aria-label="Close" ng-click="removeGruppe(gruppe.id, hlFormGruppe)"><span aria-hidden="true">&times;</span></button>
					</td>					
				</tr>
			</tbody>
		</table>
		
		<hr />
	
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	
		<form name="hlFormGruppe">
		
			<div class="form-group" ng-class="{'has-error': hlFormGruppe.name.$touched && hlFormGruppe.name.$invalid}">
				<label class="" for="name">Name:</label>
				<input type="text" id="name" name="name" placeholder="Name" class="form-control" ng-model="gruppe.name" required>
				<div ng-messages="hlFormGruppe.name.$error" class="help-block">
					<div ng-message="required">Please enter a name.</div>
				</div>
			</div>
		
			<div class="form-group" ng-class="{'has-error': hlFormGruppe.description.$touched && hlFormGruppe.description.$invalid}">
				<label class="" for="description">Description:</label>
				<input type="text" id="description" name="description" placeholder="Description" class="form-control" ng-model="gruppe.description" required>
				<div ng-messages="hlFormGruppe.description.$error" class="help-block">
					<div ng-message="required">Please enter a description.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormGruppe.type.$touched && hlFormGruppe.type.$invalid}">
				<label class="" for="type">Type</label>
				<select id="type" name="type" placeholder="Type" class="form-control" ng-model="gruppe.type" ng-options="type.value as type.text for type in types" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormGruppe.type.$error" class="help-block">
					<div ng-message="required">Please select a type.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormGruppe.joinable.$touched && hlFormGruppe.joinable.$invalid}">
				<label class="" for="joinable">Joinable</label>
				<select id="joinable" name="joinable" placeholder="Joinable" class="form-control" ng-model="gruppe.joinable" ng-options="yn.value as yn.text for yn in yns" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormGruppe.joinable.$error" class="help-block">
					<div ng-message="required">Please select whether a user can join this gruppe.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormGruppe.locked.$touched && hlFormGruppe.locked.$invalid}">
				<label class="" for="locked">Locked</label>
				<select id="locked" name="locked" placeholder="Locked" class="form-control" ng-model="gruppe.locked" ng-options="yn.value as yn.text for yn in yns" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormGruppe.locked.$error" class="help-block">
					<div ng-message="required">Please select whether this gruppe is locked.</div>
				</div>
			</div>
			
		</form>
		
	</div>
	
</div>

<div class="row">
	<div class="col-md-12 text-center">
		<div class="center-block">
			<button type="button" class="btn btn-primary" ng-click="addGruppe()" ng-disabled="addable(hlFormGruppe.$invalid)">Add</button>
			<button type="button" class="btn btn-primary" ng-click="updateGruppe()" ng-disabled="updatable(hlFormGruppe.$invalid)">Update</button>	
			<button type="button" class="btn btn-primary" ng-click="deleteGruppe(hlFormGruppe)" ng-disabled="deletable()">Delete</button>	
			<button type="button" class="btn btn-primary" ng-click="clear(hlFormGruppe)">Clear</button>	
			<button type="button" class="btn btn-primary" ng-click="reset(hlFormGruppe)" ng-disabled="deletable()">Reset</button>		
		</div>
		
		<hr />
			
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	
		<span class="strong text-large">Current Members</span>						
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Skill</th>
					<th class="text-center">Experience</th>
					<th class="text-center">Style</th>
					<th class="text-center">Reputation</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="member in gruppe.members | orderBy: 'id'">
					<td>{{member.id}}</td>
					<td>{{member.first_name}}</td>
					<td>{{member.last_name}}</td>
					<td>{{member.email}}</td>
					<td>{{member.skill}}</td>
					<td class="text-center">{{member.experience}}</td>
					<td class="text-center">{{member.style}}</td>
					<td class="text-center">{{member.reputation}}</td>
					<td class="text-center">
						<button type="button" class="close" aria-label="Close" ng-click="removeMember(member.id)"><span aria-hidden="true">&times;</span></button>
					</td>
				</tr>
			</tbody>
		</table>
			
		<hr />

	</div>
	
</div>

<div class="row">

	<div class="col-md-12">
	
		<span class="strong text-large">Available Friends</span>						
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Skill</th>
					<th class="text-center">Experience</th>
					<th class="text-center">Style</th>
					<th class="text-center">Reputation</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="friend in friends | orderBy: 'id'">
					<td>{{friend.id}}</td>
					<td>{{friend.first_name}}</td>
					<td>{{friend.last_name}}</td>
					<td>{{friend.email}}</td>
					<td>{{friend.skill}}</td>
					<td class="text-center">{{friend.experience}}</td>
					<td class="text-center">{{friend.style}}</td>
					<td class="text-center">{{friend.reputation}}</td>
					<td class="text-center">
						<button type="button" class="close" aria-label="Close" ng-click="addMember(friend.id)"><span aria-hidden="true">+</span></button>
					</td>
				</tr>
			</tbody>
		</table>
			
		<hr />

	</div>
	

</div>

<div class="row">
	<div class="col-md-12">
		<pre ng-show="debug">{{ gruppes | json }}</pre>		
	</div>
</div>

<script type="text/ng-template" id="gruppeConfirm.html">
	<div class="modal-header">
		<h3 class="modal-title">I'm a modal!</h3>
	</div>
	<div class="modal-body">
		<h6>Confirm Gruppe</h6>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</script>
