<section id="site-main-division">
    <div style="border:1px solid #333; font-size: 12px; margin: 0 auto; position: relative; top: 200px; width: 350px; background-color: rgba(255, 255, 255, .4); padding: 20px; ">
        
        <form id="site-sign-in-form">
            <table style="margin: 0 auto; width: 50%;">
                <tr>
                    <td colspan="2" align="left">
                        <div class="site-label-02" id="login-type">Sign In</div>
                    </td>
                </tr>
                <tr>
                    <td><div class="site-label-01">Email:</div></td>
                    <td><input type="text" id="site-sign-in-email" name="site-sign-in-email" class="required" /></td>
                </tr>
                <tr>
                    <td><div class="site-label-01">Password:</div></td>
                    <td><input type="password" id="site-sign-in-password" name="site-sign-in-password" class="required" /></td>
                </tr>
                <tr id="site-sign-up-password-repeat-row" style="display: none;">
                    <td><div class="site-label-01">Password (Repeat):</div></td>
                    <td><input type="password" id="site-sign-up-password-repeat" name="site-sign-up-password-repeat" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button class="btn btn-md btn-primary" id="site-sign-in" name="" style="width: 100px; margin: 10px 5px 0px 0px;">Submit</button>
                        <button class="btn btn-md btn-primary" id="site-sign-up" name="" style="width: 100px; margin: 10px 0px 0px 5px;">Register</button>
                        <button class="btn btn-md btn-primary" id="site-sign-up-cancel" name="" style="display: none; width: 100px;margin: 10px 0px 0px 5px;">Cancel</button>
                    </td>
                </tr>
            </table>            
        </form>

    </div>
    
    <div style="display: none; padding: 5px; width: 50%; margin: 0 auto; position: relative; top: 250px; text-align: center;" id="login-error" class="error" >
        <div id="login-error-message"></div>
        <div id="login-error-code"></div>            
    </div>
</section>
