<form name="hlFormRegister">

	<div class="form-group" ng-class="{'has-error': hlFormRegister.email.$touched && hlFormRegister.email.$invalid}">
		<label class="" for="email">Email</label>
		<input type="email" id="email" name="email" placeholder="Email" class="form-control" ng-model="user.email" required>
		<div ng-messages="hlFormRegister.email.$error" class="help-block">
			<div ng-message="required">Please enter an email address.</div>
			<div ng-message="email">The provided email address is invalid.</div>			
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': hlFormRegister.password.$touched && hlFormRegister.password.$invalid}">
		<label class="" for="email">Password</label>
		<input type="password" id="password" name="password" class="form-control" ng-model="user.password" required>
		<div ng-messages="hlFormRegister.password.$error" class="help-block">
			<div ng-message="required">Please enter your password.</div>
		</div>
	</div>
		
	<div class="form-group" ng-class="{'has-error': hlFormRegister.passwordRepeat.$touched && hlFormRegister.passwordRepeat.$invalid}">
		<label class="" for="email">Password (Repeat)</label>
		<input type="password" id="passwordRepeat" name="passwordRepeat" class="form-control" ng-pattern="{{user.password}}" required>
		<div ng-messages="hlFormRegister.passwordRepeat.$error" class="help-block">
			<div ng-message="required">Please re-enter your password.</div>
			<div ng-message="pattern">Passwords do not match.</div>	
		</div>
	</div>
			
	<button type="button" class="btn btn-primary" ng-click="register(hlFormRegister)" ng-disabled="hlFormRegister.$invalid">Register</button>
	<button type="button" class="btn btn-primary" ng-click="cancel()" ng-disabled="">Cancel</button>

</form>