<div class="row">
	<div class="col-md-12">
	
		<span class="strong text-large">Rides</span>						
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Date</th>
					<th>Time</th>
					<th>Status</th>
					<th class="text-center">Joinable</th>
					<th class="text-center">Tempo</th>
					<th class="text-center">Drop</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ride in rides" ng-click="rideDetail(ride.id)" ng-class="{warning: ride.id === idSelected}">
					<td>{{ride.id}}</td>
					<td>{{ride.name}}</td>
					<td>{{ride.date | date:'yyyy-MM-dd'}}</td>
					<td>{{ride.time}}</td>
					<td>{{ride.status}}</td>
					<td class="text-center">{{ride.joinable | yn}}</td>
					<td class="text-center">{{ride.tempo}}</td>
					<td class="text-center">{{ride.drop | yn}}</td>
					<td class="text-center">
						<button type="button" class="close" aria-label="Close" ng-click=""><span aria-hidden="true">&times;</span></button>
					</td>
				</tr>
			</tbody>
		</table>
			
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	
		<form name="hlFormRide">
		
			<div class="form-group" ng-class="{'has-error': hlFormRide.name.$touched && hlFormRide.name.$invalid}">
				<label class="" for="name">Name:</label>
				<input type="text" id="name" name="name" placeholder="Name" class="form-control" ng-model="ride.name" required>
				<div ng-messages="hlFormRide.name.$error" class="help-block">
					<div ng-message="required">Please enter a name.</div>
				</div>
			</div>
		
			<div class="form-group" ng-class="{'has-error': hlFormRide.description.$touched && hlFormRide.description.$invalid}">
				<label class="" for="description">Description:</label>
				<input type="text" id="description" name="description" placeholder="Description" class="form-control" ng-model="ride.description" required>
				<div ng-messages="hlFormRide.description.$error" class="help-block">
					<div ng-message="required">Please enter a description.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormRide.location_id.$touched && hlFormRide.location_id.$invalid}">
				<label class="" for="location_id">Location:</label>
				<select id="location_id" name="location_id" placeholder="Location" class="form-control" ng-model="ride.location_id" ng-options="location.value as location.text for location in locations" ng-change="getAddressesByLocation()" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormRide.location_id.$error" class="help-block">
					<div ng-message="required">Please select a location.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormRide.address_id.$touched && hlFormRide.address_id.$invalid}">
				<label class="" for="address_id">Address:</label>
				<select id="address_id" name="address_id" placeholder="Address" class="form-control" ng-model="ride.address_id" ng-options="address.value as address.text for address in addresses" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormRide.address_id.$error" class="help-block">
					<div ng-message="required">Please select an address.</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="" for="date">Date:</label>
		        <div class="input-group">	        	
					<input type="text" class="form-control" uib-datepicker-popup="{{dt.format}}" ng-model="ride.date" is-open="dt.state" datepicker-options="dt.dateOptions" close-text="Close" alt-input-formats="dt.altInputFormats" ng-readonly="true" required />
					<span class="input-group-btn">
	  					<button type="button" class="btn btn-default" ng-click="dt.open()"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
		        </div>
			</div>
			
			<div class="form-group">
				<label class="" for="date">Time:</label>
		        <div class="input-group">	        	
					<input type="text" class="form-control" ng-model="ride.time" ng-readonly="true"/>
					<span class="input-group-btn">
	  					<button type="button" class="btn btn-default" uib-popover-template="tm.template" popover-placement="bottom-left"><i class="glyphicon glyphicon-time"></i></button>
					</span>
		        </div>
			</div>	
			
			<script type="text/ng-template" id="tm.html">				
				<div class="form-group">
					<uib-timepicker ng-model="tm.mytime" ng-change="tm.changed()" hour-step="tm.hstep" minute-step="tm.mstep" show-meridian="tm.ismeridian"></uib-timepicker>	
				</div>
			</script>				
								
			<div class="form-group" ng-class="{'has-error': hlFormRide.status.$touched && hlFormRide.status.$invalid}">
				<label class="" for="status">Status:</label>
				<select id="status" name="status" placeholder="Status" class="form-control" ng-model="ride.status" ng-options="status.value as status.text for status in statii" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormRide.status.$error" class="help-block">
					<div ng-message="required">Please select a status.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormRide.joinable.$touched && hlFormRide.joinable.$invalid}">
				<label class="" for="joinable">Joinable:</label>
				<select id="joinable" name="joinable" placeholder="Joinable" class="form-control" ng-model="ride.joinable" ng-options="joinable.value as joinable.text for joinable in yns" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormRide.joinable.$error" class="help-block">
					<div ng-message="required">Please select whether this ride is joinable by others.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormRide.tempo.$touched && hlFormRide.tempo.$invalid}">
				<label class="" for="tempo">Tempo:</label>
				<select id="tempo" name="tempo" placeholder="Tempo" class="form-control" ng-model="ride.tempo" ng-options="tempo.value as tempo.text for tempo in tempos" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormRide.tempo.$error" class="help-block">
					<div ng-message="required">Please select a tempo.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormRide.drop.$touched && hlFormRide.drop.$invalid}">
				<label class="" for="drop">Drop:</label>
				<select id="drop" name="drop" placeholder="drop" class="form-control" ng-model="ride.drop" ng-options="drop.value as drop.text for drop in yns" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormRide.drop.$error" class="help-block">
					<div ng-message="required">Please select whether this ride is drop eligible.</div>
				</div>
			</div>
			
			<div class="form-group" ng-class="{'has-error': hlFormRide.available.$touched && hlFormRide.available.$invalid}">
				<label class="" for="available">Available:</label>
				<select id="available" name="available" placeholder="Available" class="form-control" ng-model="ride.available" ng-options="available.value as available.text for available in availability" required>
					<option value="" disabled selected>[Please Choose]</option>
				</select>
				<div ng-messages="hlFormRide.available.$error" class="help-block">
					<div ng-message="required">Please select whether this ride is public or private.</div>
				</div>
			</div>
						
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-center">
		<div class="center-block">
			<button type="button" class="btn btn-primary" ng-click="saveRide()" ng-disabled="savable(hlFormRide.$invalid)">Save</button>	
			<button type="button" class="btn btn-primary" ng-click="saveRide()" ng-disabled="deletable(hlFormRide.$invalid)">Delete</button>	
			<button type="button" class="btn btn-primary" ng-click="reset(hlFormRide)" ng-disabled="resettable(hlFormRide.$invalid)">Reset</button>	
			<button type="button" class="btn btn-primary" ng-click="clear(hlFormRide)" ng-disabled="">New</button>	
		</div>
		
		<hr />
			
	</div>
</div>
			
<div class="row">
	<div class="col-md-12">
	
		<span class="strong text-large">Riders</span>						
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Skill</th>
					<th class="text-center">Experience</th>
					<th>Style</th>					
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rider in ride.riders | orderBy: 'id'" ng-click="" ng-class="">
					<td>{{rider.id}}</td>
					<td>{{rider.first_name}}</td>
					<td>{{rider.last_name}}</td>
					<td>{{rider.skill}}</td>
					<td class="text-center">{{rider.experience}}</td>
					<td>{{rider.style}}</td>
					<td class="text-center">
						<button type="button" class="close" aria-label="Close" ng-click="removeMemberFromRide(rider.id)"><span aria-hidden="true">&times;</span></button>
					</td>
				</tr>
			</tbody>
		</table>
			
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	
		<span class="strong text-large">Gruppes</span>						
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Description</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gruppe in gruppes | orderBy: 'id'" ng-click="" ng-class="" uib-popover-template="rm.template" popover-trigger="mouseenter" popover-title="{{gruppe.name}} Members" popover-placement="bottom-left">
					<td>{{gruppe.id}}</td>
					<td>{{gruppe.name}}</td>
					<td>{{gruppe.description}}</td>
					<td class="text-center">
						<button type="button" class="close" aria-label="Close" ng-click="addGruppeToRide(gruppe.id)"><span aria-hidden="true">+</span></button>
					</td>

					<script type="text/ng-template" id="rm.html">

						<div class="row">
							<div class="col-md-12">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Skill</th>
										<th>Experience</th>
										<th>Style</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="member in gruppe.members | orderBy: 'id'" ng-click="" ng-class="">
										<td>{{member.id}}</td>
										<td>{{member.first_name}}</td>
										<td>{{member.last_name}}</td>
										<td>{{member.skill}}</td>
										<td class="text-center">{{member.experience}}</td>
										<td>{{member.style}}</td>
									</tr>
								</tbody>	
							</table>
							</div>					
						</div>					

					</script>
					
				</tr>
				
			</tbody>
		</table>

		<hr />
	</div>
</div>


<div class="row">
	<div class="col-md-12">
	
		<span class="strong text-large">Available Friends</span>						
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Skill</th>
					<th class="text-center">Experience</th>
					<th>Style</th>					
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="friend in friends | orderBy: 'id'" ng-click="" ng-class="">
					<td>{{friend.id}}</td>
					<td>{{friend.first_name}}</td>
					<td>{{friend.last_name}}</td>
					<td>{{friend.skill}}</td>
					<td class="text-center">{{friend.experience}}</td>
					<td>{{friend.style}}</td>
					<td class="text-center">
						<button type="button" class="close" aria-label="Close" ng-click="addMemberToRide(friend.id)"><span aria-hidden="true">+</span></button>
					</td>
				</tr>
			</tbody>
		</table>
			
		<hr />
	</div>
</div>


<div class="row">
	<div class="col-md-12">
	
		<pre ng-show="debug">
			{{rides | json}}
		</pre>
	
	</div>
</div>
			