<div>
	<h3>{{test}}</h3>
</div>
<sandbox band="dead"></sandbox>

<current-time spec="format"></current-time>

<br />

<div style="border: 2px solid #999">
	{{message}}
	<my-dialog ng-hide="dialogIsHidden" on-close="hideDialog(message)" on-up="showText(x.suckit)">Check out the contents, {{name}}!</my-dialog>
</div>

<div>{{display}}</div>

<my-draggable>Drag me around.</my-draggable>

<my-tabs-demo>
	<my-pane-demo title="The Boys">
		<ul>
			<li>Jerry Garcia</li>
			<li>Bob Weir</li>
			<li>Phil Lesh</li>
			<li>Keith Godcheaux</li>
			<li>Mickey Hart</li>
			<li>Bill Kreutzman</li>
		</ul>
	</my-pane-demo>
	<my-pane-demo title="Jedi">
		<ul>
			<li>Luke Skywalker</li>
			<li>Quigon Jinn</li>
			<li>Obiwan Kenobi</li>
			<li>Kit Fisto</li>
		</ul>
		<p>
			<!-- 
			<a href ng-click="i = i + 1">counter: {{i | 0}}</a>
			 -->
		</p>
	</my-pane-demo>
</my-tabs-demo>