<h1>Users Partial</h1>
<div>{{test}}</div>

<ul>
	<li ng-repeat="user in users">
		<a href="#/users/detail/{{user.id}}"><span>{{user.first_name}} {{user.last_name}}</span></a>
	</li>
</ul>

<pre>{{users | json}}</pre>